<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My feedback site{% endblock %}</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 20px;background-color: blue;}
        header, footer {background: #333; color: white; padding: 10px ; text-align: center;}
        nav a {margin: 0 10px; color: white; text-decoration: none;}
        main{
            background: white; padding: 20px; margin-top: 20px; border-radius: 8px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Feedback page</h1>
        <nav>
            <a href="/feedback">Feedback</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>